---
import Layout from './Layout.astro';

const { frontmatter, showDate = true } = Astro.props;
---

<Layout
	title={frontmatter.title}
	description={frontmatter.description}
	image={frontmatter.image ??
		`https://images.sitesauce.app/**${frontmatter.title}**.png?md=1&theme=brand_dark`}
>
	<div class="bg-brand-50 overflow-hidden pt-16 z-10 relative">
		<div class="max-w-5xl mx-auto py-8 sm:py-16 px-4 md:px-10 lg:px-0">
			<h1
				class="text-4xl sm:text-5xl text-medium-purple font-spoof text-brand-900 leading-normal"
			>
				{frontmatter.title}
			</h1>
			{
				showDate && (
					<p class="mt-4 text-brand-400 font-ttnorms text-lg">
						Posted on {frontmatter.publishedAt} &bull;{' '}
						{frontmatter.readingTime}
					</p>
				)
			}

			<div class="prose lg:prose-xl max-w-full mt-5">
				<slot />
			</div>
		</div>
	</div>
</Layout>
